# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2


      - name: 获取secret环境变量
        env: 
          secret1: ${{secrets.COMMAND}}
        run: |
         echo before
         echo "$secret1"
         echo after
